<!DOCTYPE html>
<html lang="en">

<head>
{{>links}}
</head>

<body>
  {{>navbar}}
    <!-- main section -->
    <div class="main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 right-main align-items-center ">
                        <figure>
                          <img src="img/about.png" class="abt_img" alt="about pictures" srcset="">
                        </figure>
                     </div>
                    <div class="col-md-6 col-12 left-main">
                        <p>About the Author..</p>
                        <h2>I am a <span class="txt_color"> Full Stack </span>Developer...</h2>
                        <a href="/" ><button > About</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    

  {{>footer}}

</body>
<script src="js/script.js"></script>
</html>